* {
  background-color: rgb(102, 153, 155);
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-bottom: 2px black solid;
  background-color: rgb(73, 106, 129);
  color: white;
  font-weight: 200;
  letter-spacing: 0.25rem;
}

h2 {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(162, 195, 197);
}

#navBar {
  background-color: rgb(43, 58, 103);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-bottom: 2px black solid;
}

#navBar a {
  background-color: rgb(43, 58, 103);
  text-decoration: none;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  border: 2px solid rgb(43, 58, 103);
  border-radius: 5px;
  color: white;
}

#navBar a:hover {
  border: 2px solid white;
  transition: 0.8s;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 5px;
}

#homePage {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 2rem 2rem 5rem 2rem;
  background-color: rgb(162, 195, 197);
}

#homePage p {
  background-color: rgb(162, 195, 197);
}

#homePage img {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  height: 25rem;
}

.singlePlayerContainer {
  display: flex;
  justify-content: center;
  /* background-color: rgb(162, 195, 197); */
  padding: 1rem;
}

.playersContainer {
  border: 2px solid white;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-self: center;
  width: 80%;
  padding: 2rem;
}

.playersCard {
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.playersCard img {
  object-fit: cover;
  height: 15rem;
  width: 15rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.searchBar input {
  margin-left: 0.5rem;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

form label {
  margin-left: 25%;
}

form input {
  margin: 1rem;
  width: 50%;
  background-color: white;
}
form button {
  width: 30%;
  margin-left: 25%;
}

.createP {
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
