* {
  background-color: rgb(102, 153, 155);
  color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  display: flex;
  padding: 1rem;
  justify-content: center;
  border-bottom: 2px black solid;
  background-color: rgb(73, 106, 129);
  color: white;
  font-weight: 200;
  letter-spacing: 0.25rem;
}

h2 {
  display: flex;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(162, 195, 197);
}

#navBar {
  background-color: rgb(43, 58, 103);
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-bottom: 2px black solid;
}

#navBar a {
  background-color: rgb(43, 58, 103);
  text-decoration: none;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
  font-size: 1.25rem;
  border: 2px solid rgb(43, 58, 103);
  border-radius: 5px;
  color: white;
}

#navBar a:hover {
  border: 2px solid white;
  transition: 0.8s;
  background-color: rgba(0, 0, 0, 0.301);
  border-radius: 5px;
}

#homePage {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 2rem 2rem 5rem 2rem;
  background-color: rgb(162, 195, 197);
}

#homePage p {
  background-color: rgb(162, 195, 197);
}

#homePage img {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  height: 25rem;
}

#allPlayersHeader {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.singlePlayerContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.singlePlayerContainer h4 {
  font-weight: 200;
}

.playersContainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-self: center;
  width: 80%;
  padding: 2rem;
  margin-bottom: 5rem;
}

.playersCard {
  border-radius: 5px;
  border: solid 2px rgb(88, 133, 135);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: rgb(162, 195, 197);
}

.playersCard h3,
h4 {
  background-color: rgb(162, 195, 197);
}

.playersCard img {
  object-fit: cover;
  height: 15rem;
  width: 15rem;
  background-color: rgb(162, 195, 197);
}

.playersCard button {
  margin: 0.25rem;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-weight: 200;
  background-color: rgb(75, 112, 114);
  color: white;
  letter-spacing: 0.08rem;
}

.playersCard button:hover {
  background-color: rgb(37, 54, 55);
  color: white;
  transition: 0.8s;
}

.searchBar {
  display: flex;
  justify-content: center;
  margin: 1rem;
  background-color: rgb(102, 153, 155);
  font-weight: bolder;
}

.searchBar input {
  margin-left: 0.5rem;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
}

form label {
  margin: 0rem 15%;
}

form input {
  margin: 1rem 0rem;
  width: 65%;
  background-color: white;
}

.createP {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  padding-top: 1rem;
}

#createTitle {
  border-bottom: 2px solid black;
}

.createForm {
  border-radius: 5px;
  border: solid 2px rgb(88, 133, 135);
  background-color: rgb(162, 195, 197);
  padding: 1.5rem;
  margin-top: 1rem;
}

.createForm label {
  background-color: rgb(162, 195, 197);
  font-weight: bold;
  /* keeps label and input spacing even */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createForm button {
  width: 30%;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  font-weight: 200;
  background-color: rgb(75, 112, 114);
  color: white;
  letter-spacing: 0.08rem;
  margin-top: 1.5rem;
  margin-left: 15%;
}

.createForm button:hover {
  background-color: rgb(37, 54, 55);
  color: white;
  transition: 0.8s;
}

.informationBody {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0.5rem 2rem 5rem 2rem;
  background-color: rgb(162, 195, 197);
  min-height: 100vh;
}

.informationBody p,
a {
  background-color: rgb(162, 195, 197);
}

.informationBody a {
  padding-right: 0.25rem;
}

.informationBody a:hover {
  font-weight: bolder;
}

.informationImg {
  border: 2px black solid;
  border-radius: 5px;
  width: 80%;
  margin: auto;
}
